In [1]:
import pandas as pd

dataset = pd.read_csv("model_dataset_final2.csv")
dataset

,id,업종,브랜드,가맹사업 개월수,가맹점수,가맹점 평균매출액,창업비용,개점률,폐점률,개월수_r,가맹점수_r,평균매출액_r,창업비용_r,개점률_r,폐점률_r,레이블
0,1,주점,1943,23,45,1536915,181000,100,0,0.025688,0.013022,0.424917,0.220195,1.00,0.00,5
1,2,기타 외식,101번지 남산돈까스,61,14,310957,122780,85,0,0.095413,0.003847,0.085971,0.149367,0.85,0.00,3
2,3,한식,123막창,54,26,354106,93500,38,7,0.082569,0.007399,0.097900,0.113747,0.38,0.07,1
3,4,분식,135튀김집,36,13,243360,75000,53,23,0.049541,0.003551,0.067282,0.091241,0.53,0.23,3
4,5,한식,153포인츠(POINTZ),83,9,355533,87510,0,0,0.135780,0.002368,0.098295,0.106460,0.00,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2173,2174,한식,흥부찜닭,26,110,92470,84753,100,3,0.031193,0.032258,0.025565,0.103106,1.00,0.03,3
2174,2175,한식,희귀한족발,24,34,19105,27500,100,0,0.027523,0.009766,0.005281,0.033455,1.00,0.00,3
2175,2176,중/일식,히노아지,147,34,252863,75600,35,23,0.253211,0.009766,0.069909,0.091971,0.35,0.23,1
2176,2177,중/일식,히메노라멘,32,8,314175,77525,87,62,0.042202,0.002072,0.086860,0.094313,0.87,0.62,0
2177,2178,카페,히즈빈스(HISBEANS),91,8,147913,138410,37,0,0.150459,0.002072,0.040893,0.168382,0.37,0.00,1

In [2]:
# 훈련데이터, 타겟 데이터 설정
X = dataset[["가맹사업 개월수","가맹점수","가맹점 평균매출액", "창업비용","개점률","폐점률"]]
y = dataset["레이블"]

In [3]:
# 비선형 SVM
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVC

polynomial_svm_clf = Pipeline([
        ("poly_features", PolynomialFeatures(degree=3)),
        ("scaler", StandardScaler()),
        ("svm_clf", LinearSVC(C=10, loss="hinge", random_state=42))
    ])

polynomial_svm_clf.fit(X, y)

C:\Users\yangsemo\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

Pipeline(steps=[('poly_features', PolynomialFeatures(degree=3)),
                ('scaler', StandardScaler()),
                ('svm_clf', LinearSVC(C=10, loss='hinge', random_state=42))])

In [4]:
# 테스트1
polynomial_svm_clf.predict([[66,5,1540660,100448,0,40]])

array([5], dtype=int64)

In [5]:
# 테스트1
polynomial_svm_clf.predict([[75,38,999025,85020,18,10]])

array([1], dtype=int64)

In [6]:
import joblib
joblib.dump(polynomial_svm_clf, 'model.pkl')

['model.pkl']

In [7]:
load_model = joblib.load('model.pkl')
load_model.predict([[75,38,999025,85020,18,10]])

array([1], dtype=int64)

In [9]:
load_model.predict([[300,1000,360000,85020,18,10]])

array([2], dtype=int64)

In [11]:
load_model.predict([[35,30,360000,85020,75,10]])

array([3], dtype=int64)

In [12]:
load_model.predict([[200,100,360000,85020,10,10]])

array([4], dtype=int64)

In [15]:
load_model.predict([[84,31,990000,260020,10,10]])

array([5], dtype=int64)

In [16]:
load_model.predict([[309,107,297889,92785,8,10]])

array([4], dtype=int64)

In [22]:
x= load_model.predict([[35,28,268959,92785,21,4]])
x[0]

1

In [23]:
number_of_months = [309,198,84,75,74,35]
franchise_count = [1338,107,38,31,28,16]
average_sales = [999025,361352,297889,268958,237821,228112]
cost = [72716,85020,86420,92785,128907,266781]
open_rate = [78,21,18,18,8,6]
close_rate = [4,6,11,13,14,20]

In [26]:
feature_rank=[0,1,2,3,4,5]
feature_rank[0]

0

In [29]:
load_model.predict([[number_of_months[feature_rank[0]],franchise_count[feature_rank[1]],average_sales[feature_rank[2]],cost[feature_rank[3]],open_rate[feature_rank[4]], close_rate[feature_rank[5]]]])

array([4], dtype=int64)

In [28]:
number_of_months[]

309